<ion-view title="Home">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <button class="button button-stable button-block  icon ion-ios-home-outline"></button>
            <a href="#/misReservaciones" class="button button-stable button-block  icon ion-ios-calendar-outline"></a>
            <a href="#/reservar" class="button button-stable button-block  icon ion-bag"></a>
            <a href="#/alarma" class="button button-stable button-block  icon ion-android-alarm-clock"></a>
            <a href="#/" class="button button-stable button-block  icon ion-ios-close-outline"></a>
        </div>
        <div class="item card card"ng-repeat="eventos in eventos">
          <div class="item item-divider">
         	  {{eventos.nombre}}
          </div>
          <div class="item item-body">
         	  <p>
         		 <strong>Hora: </strong>{{eventos.horaInicio}} - {{eventos.horaTerminacion}} <br>
                 <strong>Lugar: </strong>{{eventos.lugar}}
         	  </p>
              <a href="#/mas/{{eventos.id}}" class="button button-light button-block button-small" >Ver m&aacutes...</a>
         </div>
        
        
		</div>

        

    </ion-content>
</ion-view>