<ion-view title="Formulario ">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <div class="spacer" style="width: 300px; height: 30px;"></div>
            <ion-list>
                <label class="item item-input" name="user" >
                    <span class="input-label">Usuario</span>
                    <input type="text" placeholder="" ng-model="data.username">
                </label>
                <label class="item item-input" name="password" >
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="data.password">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 30px;"></div>
            <a  class="button button-light button-block " ng-click="login(data)">Entrar</a>
        </form>
    </ion-content>
</ion-view>