<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <h1>Bienvenido</h1>
            <div class="spacer" style="width: 300px; height: 30px;"></div>
            <ion-list>
                <label class="item item-input" name="user">
                    <span class="input-label">Usuario</span>
                    <input type="number" placeholder="">
                </label>
                <label class="item item-input" name="password">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 30px;"></div>
            <a href="#/home" class="button button-light button-block ">Entrar</a>
        </form>
    </ion-content>
</ion-view>