<ion-view title="Reservar">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <a href="#/home" class="button button-stable button-block  icon ion-ios-home-outline"></a>
            <a href="#/misReservaciones" class="button button-stable button-block  icon ion-ios-calendar-outline"></a>
            <a href="#/reservar" class="button button-stable button-block  icon ion-bag"></a>
            <a href="#/alarma" class="button button-stable button-block  icon ion-android-alarm-clock"></a>
            <a href="#/" class="button button-stable button-block  icon ion-ios-close-outline"></a>
        </div>
    </ion-content>
</ion-view>